*{
  font-family: serif;
}

html {
    height: 100%;
}

body{
  height: 100%;
  background-color: #000000;
  padding-top: 4%;
}

li.nav-item:hover{
  background-color: green;
}

nav{
  font-size: 18px;
}

.logo{
  border-radius: 4px;
  filter: blur(5px);
  filter: drop-shadow(2px 2px 4px #d8d1e25b);
  width: 40px;
}

.carousel,.carousel-inner,.carousel-item{
  width: 100%;
  height: 100%;
}

img.imgCarousel{
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.9) 80%,rgba(0, 0, 0, 1) 100%);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.9) 80%,rgba(0, 0, 0, 1) 100%);
}

#countVisitors{
  font-weight: bold;
  color: white;
  transition: opacity 2s ease-out;
}

.section{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main{
  width: 90%;
  height: 80%;
  margin: auto;
  background-color: #ffffff;
  border-top: solid;
  border-top-color: green;
  border-top-width: thick;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 2px 4px 40px 0 rgba(255, 255, 255, 0.6);
}

.title {
  position: relative;
  background-color: green;
  top: -4%;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.left{
  position: relative;
  left: 3%;
  text-align: justify;
  width: 94%;
  max-height: 90%;
  font-size: 23px;
  text-overflow: ellipsis;
  overflow-y: auto;
}

.profile{
  float: left;
  width: 20%;
  border-radius: 20px;
  box-shadow:4px 4px 4px #00000094;
  margin-right:5%;
}

.list{
  margin-left: 2%;
  font-size: 25px;
  text-align: center;
  width: 96%;
  max-height: 90%;
  text-overflow: ellipsis;
  overflow-y: auto;
  overflow-x: none;
}

table{
  table-layout: fixed ;
}

td {
  width: 33% ;
}

form{
  width: 80%;
  margin: auto;
  max-height: 90%;
  overflow-y: auto;
}

label{
  font-size: 24px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 2%;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.buttons{
  margin-top: 4%;
}
